*{
    margin: 0px;
    padding: 0px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
header{
    background-color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c3c3c3
}
#size{
    height: 54px;
}
.logo{
    margin-left: 4%;
}

.six{
    display: flex;
    min-width: 515px;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
.six a{
    font-weight: 700;
    text-decoration-style: none;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    text-align: center;
}
.searchbar{
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
}
.rt{
    flex-grow: 1;
    height: 40px;
    background: #f5f5f6;
    color: #696e79;
    border: 1px solid #f5f5f6;
    border-radius: 0 5px 5px 0;
}
.material-symbols-outlined{
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    box-sizing: content-box;
    height: 17px;
    width: 23px;
    padding-top: 9px;
    padding-bottom: 13px;
    padding-left: 8px;
    padding-right: 6px;
    color: #282c3f;
    font-weight: 100;
    font-size: 24px;
    border-radius: 4px 0 0 4px;
}
.other{
    display: flex;
    width: 240px;
    height: 40px;
    justify-content: space-evenly;
    margin-left: 12px;
    align-items: center;
}
.a{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.q{
    font-size: 12px;
    font-weight: 700;
}
.search{
    background-color: #fff;
    border: 0px solid rgba(0, 0, 0,0.1);
}
#a:hover{
    border-bottom: 5px solid #ee5f73;
}
#b:hover{
    border-bottom: 5px solid #fb56c1;
}
#c:hover{
    border-bottom: 5px solid #f26a10;
}
#d:hover{
    border-bottom: 5px solid #f2c210;
}
#e:hover{
    border-bottom: 5px solid #0db7af;
}
#f:hover{
    border-bottom: 5px solid #ff3f6c;;
}
.w{
    border-bottom: 5px solid #fff;
    padding-top: 27px;
    padding-bottom: 27px;
}
.first{
    width: 1265px;
    height: 384.75px;
}
.second{
    width: 1265px;
    height: 150px;
}
.third{
    width: 1228px;
    height: 96px;

}
.fourth{
    width: 618px;
    height: 106px;
}
.fifth{
    width: 618px;
    height: 106px;
}
.sixth{
    width: 1229px;
    height: 115px;
}
.p1{
    height: 142px;
    width: 136px;
}
.p2{
    width: 1282px;
    height: 90px;
}
.p3{
    width: 193px;
    height: 212px;
}
.p4{
    width: 1225px;
    height: 180px;
}
footer{
    display: flex;
    margin-top: 30px;
    background-color: #FAFBFC;
    padding: 35px 0 0 86px;
}
#online{
    width: 195px;
    height: 430px;
}
#customer{
    width: 185px;
    height: 297px;
}
#experience{
    width: 400px;
    height: 176px;
}
#org{
    width: 250px;
    height: 178px;
}
.foot{
    color: #282c3f;
    font-weight: 700;
    font-size: 12px;
}
#inner{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.font{
    color: #696b79;
    display: block;
    padding-bottom: 7px;
    font-size: 15px;
}
#outer{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
}
.pol{
    font-size: 15px;
    color: #696b79;
    display: block;
    padding-bottom: 5px;
}
#image{
    margin-top: 28px;
    display: flex;
}
.h{
    width: 140px;
    height: 42px;
    margin-right: 12px;
}
#box{
    background-image: url(p.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 47px;
    width: 125px;
}
#logo{
    margin-top: 22px;
}
#space{
    margin-top: 12px;
    display: flex;
}
#face{
    background-image: url(f.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 46px;
    width: 21px;
    margin-right: 10px;
}
#tw{
    background-image: url(t.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 46px;
    width: 29px;
    margin-right: 10px;
}
#yo{
    background-image: url(y.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 46px;
    width: 30px;
    margin-right: 10px;
}
#un{
    background-image: url(i.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 46px;
    width: 20px;
}
.foot{
    display: flex;
    flex-direction: column;
}
#a1{
    display: flex;
    margin-bottom: 20px;
}
#a2{
    display: flex;
}
#a11{
    background-image: url(org.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 57px;
    width: 141px;
    margin-right: 12px;
    margin-top: 5px;
}
#a21{
    background-image: url(14.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 57px;
    width: 141px;
    margin-right: 1px;
    margin-top: -3px;
}
#last{
    width: 44px;
    height: 288px;
    background-color: #535766;
    position: fixed;
    bottom: 130px;
    right:0px;
}
#final{
    width: 42px;
    height: 284px;
    margin-top: -32px;
    margin-bottom: 4px;
    text-align: center;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    font-size: 24px;
    font-weight: 700;
    color: #fcfcfc;
    margin-left: 3px;
}
.bar{
    background-color: #535766;
    border-color: #535766;
    color: #fcfcfc;
    width: 30px;
    height: 22px;
    transform: rotate(270deg);
    text-align: center;
    margin-top: 24px;
}